<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{name}}</p>
        <img class="portrait" src="./img/20181107061632_IMG_0359.JPG" />
    </div>
    {{>footer}}
</body>

</html>